.mainContent {
    padding: 20px;
    text-align: center;
  }
  
  .cardContainer {
    display: inline-block;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    gap: 20px;
    justify-content: center;
  }
  